*{
    font-family: Assistant,Helvetica,Arial,sans-serif!important;;
}

.productContainer{
    margin-left: 26%;
    background-color: #eeeeee;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.products {
    width:30%;
    margin-bottom: 10px;
    font-size: 12px;
}

.products .card-text {
    margin-bottom: 0px;
}

.topbar {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.topbar .dropdown-item {
    color: black!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.topbar .dropdown-item img {
    border-radius: 50%;
    height: 50px;
    border: 3px solid #1371fb8a;
    width: 50px;
}

.topbar .dropdown-item button {
    width: auto;
    margin: 0px;
    padding: 0px;
    border: none;
}

.topbar .dropdown-toggle span {
    margin-left: 5px;
    font-size: 9px;
    background: #fff2ca!important;
    color: black;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.topbar .dropdown-toggle {
    background-color: orange;
    border: none;
}

.topbar .dropdown-toggle:hover, .topbar .dropdown-toggle:active {
    background-color: rgb(226, 154, 20);
}

.topbar > .dropdown-toggle::after {
    display: none;
}

.topbar .dropdown-item p {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 5px;
    margin: 0px;
}

.topbar .dropdown-item .deleteIcon {
    font-size: 24px;
    color:#b41a1a;
}

.topbar .dropdown-menu .cartBtn {
    width: 95%;
    margin: 8px 6px 0px;
}

.topbar .dropdown-menu {
    right: 0;
    left: auto!important;
    font-size: 12px;
}

/* Filters section */

.filtersContainer {
    position: fixed;
    top: 83px;
    bottom: 0;
    left: 6%;
    width: 22%!important;
    background-color: #f6f6f6;
    overflow-y: auto;
}

.homeContainer {
    position: relative;
    height: 100vh;
    padding-top: 85px;
}

.card-body button {
    margin-top: 10px
}

.filters {
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .filters > span {
    padding-bottom: 20px;
    font-size: 12px;
  }

  .filters > span input {
    border: 1px solid gray
  }

  /* Cart total summary */
  
  .list-group-item {
    font-size: 12px;
  }

  .filters .title {
    font-size: 24px;
  }


  .summary .title {
    font-size: 12px;
    font-family: Assistant,Helvetica,Arial,sans-serif!important;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(203, 202, 202);
  }

  .summary, .emptyCart {
    display: flex;
    flex-direction: column;
  }

  .summary p {
    display: flex;
    font-size: 14px;
  }
  .summary p span {
    margin-left: auto;
  }

  .summary p.discount span {
    color:green
  }

  .summary p.shipping span {
    color: red;
  }

  .emptyCart {
    height: 200px;
    align-items: center;
  }

  .totalAmountPayable {
    border-top: 1px solid #dbdbdb;
    margin-top: 20px;
    padding: 10px 0;
    font-weight: 700;
  }


  /* Media Queries */
@media (max-width: 771px) {
  
    .productContainer {
      width: 58%;
      padding: 0;
    }
  
    .search {
      display: none !important;
    }
  
    .products {
      width: 100%;
    }
  }
